<html>
  <head>
    <title>Home</title>


    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link href="/css/styles.css" rel="stylesheet" />

    <script>
      $(document).ready(function () {
          $('#account-submit').click(function (e) {
            
            $.post("/users/details", {
              name: $("#username").val(),
              email: $("#useremail").val(),
              password: $("#password").val(),
              dob: $('#dob').val(),
              cob: $('#cob').val(),
              address: $('#address').val(),
              gender: $('#gender').val(),
              hobbies: $('#hobbies').val(),
              civilstate: $('#civilstate').val(),
              profession: $('#profession').val(),
              salary: $('#salary').val(),
              sport: $('#sport').val(),
              image: $('#image').val(),
            }, function (data) {
                if (!data.error) {
                  alert('details updated'); 
                } else {
                  alert(data.message);
                }
              });
            });
          });
  </script>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand">Account Details</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="/users/logout/">Logout</a></li>
              </ul>
          </div>
      </div>
  </nav>
    <div style="margin-top: 100px; margin-left: 50px; width: 400px;">
      <h1>Hello, <%= name %></h1>
    </div>
    <div class="form-group" style="margin-top: 100px; width : 400px; margin-left : 50px;">
      <p>Username</p>
      <input type="text" id="username" placeholder="Name" value="<%= name %>" class="form-control"><br>
      <p>Email</p>
      <input type="text" id="useremail" placeholder="Email" value="<%= email %>" class="form-control" readonly><br>
      <p>Password</p>
      <input type="password" id="password" placeholder="Password" value="<%= password %>" class="form-control"><br>
      <p>Date of Birth</p>
      <input type="date" id="dob" placeholder="Dob" value="<%= dob %>" class="form-control"><br>
      <p>City of Birth</p>
      <input type="text" id="cob" placeholder="Cob" value="<%= cob %>" class="form-control"><br>
      <p>Address</p>
      <input type="text" id="address" placeholder="Address" value="<%= address %>" class="form-control"><br>
      <p>Gender</p>
      <input type="text" id="gender" placeholder="Gender" value="<%= gender %>" class="form-control"><br>
      <p>Hobbies</p>
      <input type="text" id="hobbies" placeholder="Hobbies" value="<%= hobbies %>" class="form-control"><br>
      <p>Civil State</p>
      <input type="text" id="civilstate" placeholder="CivilState" value="<%= civilstate %>" class="form-control"><br>
      <p>Profession</p>
      <input type="text" id="profession" placeholder="Profession" value="<%= profession %>" class="form-control"><br>
      <p>Salary</p>
      <input type="text" id="salary" placeholder="Salary" value="<%= salary %>" class="form-control"><br>
      <p>Sport</p>
      <input type="text" id="sport" placeholder="Sport" value="<%= sport %>" class="form-control"><br>
      <p>Image</p>
      <input type="text" id="image" placeholder="Image" value="<%= salary %>" class="form-control"><br>
      

      <input type="button" id="account-submit" value="Update" class="btn btn-primary">&nbsp;
  </div>
  </body>
</html>