<html>

<head>
    <title>Home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#username").hide();
            $("#log").hide();
            $('#dob').hide();
            $('#cob').hide();
            $('#address').hide();
            $('#gender').hide();
            $('#hobbies').hide();
            $('#civilstate').hide();
            $('#profession').hide();
            $('#salary').hide();
            $('#sport').hide();
            $('#image').hide();
            $('#login-submit').click(function (e) {
                if ($(this).attr('value') === 'Register') {
                    $.post("/users/signup", {
                        name: $("#username").val(),
                        email: $("#useremail").val(),
                        password: $("#password").val(),
                        dob: $('#dob').val(),
                        cob: $('#cob').val(),
                        address: $('#address').val(),
                        gender: $('#gender').val(),
                        hobbies: $('#hobbies').val(),
                        civilstate: $('#civilstate').val(),
                        profession: $('#profession').val(),
                        salary: $('#salary').val(),
                        sport: $('#sport').val(),
                        image: $('#image').val(),
                    }, function (data) {
                        if (data.error) {
                            alert(data.message);
                        } else {
                            $("#username").hide();
                            $("#log").hide();
                            $('#dob').hide();
                            $('#cob').hide();
                            $('#address').hide();
                            $('#gender').hide();
                            $('#hobbies').hide();
                            $('#civilstate').hide();
                            $('#profession').hide();
                            $('#salary').hide();
                            $('#sport').hide();
                            $('#image').hide();

                            $("#login-submit").prop('value', 'Log in');
                        }
                    });
                } else {
                    $.post("/users/login", {
                        email: $("#useremail").val(),
                        password: $("#password").val()
                    }, function (data) {
                        if (!data.error) {
                            window.location.href = "/home";
                        } else {
                            alert(data.message);
                        }
                    });
                }
            });
            $("#reg").click(function (event) {
                $("#username").show('slow');
                $("#username").show('slow');
                $("#log").show('slow');
                $('#dob').show('slow');
                $('#cob').show('slow');
                $('#address').show('slow');
                $('#gender').show('slow');
                $('#hobbies').show('slow');
                $('#civilstate').show('slow');
                $('#profession').show('slow');
                $('#salary').show('slow');
                $('#sport').show('slow');
                $('#image').show('slow');

                $("#log").show('slow');
                $("#reg").hide('slow')
                $("#login-submit").prop('value', 'Register');
                event.preventDefault();
            });
            $("#log").click(function (event) {
                $("#username").hide('slow');
                $("#log").hide('slow');
                $('#dob').hide('slow');
                $('#cob').hide('slow');
                $('#address').hide('slow');
                $('#gender').hide('slow');
                $('#hobbies').hide('slow');
                $('#civilstate').hide('slow');
                $('#profession').hide('slow');
                $('#salary').hide('slow');
                $('#sport').hide('slow');
                $('#image').hide('slow');

                $("#log").hide('slow');
                $("#reg").show('slow');
                $("#login-submit").prop('value', 'Log In');
                event.preventDefault();
            });
        });
    </script>
    <link href="/css/styles.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand">Login and Signup</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home </a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page">| Please Register or Log in.</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="form-group" style="margin-top: 100px; width : 400px; margin-left : 50px;">
        <input type="text" id="username" placeholder="Name" class="form-control"><br>
        <input type="date" id="dob" placeholder="Dob" class="form-control"><br>
        <input type="text" id="cob" placeholder="City of Birth" class="form-control"><br>
        <input type="text" id="address" placeholder="Address" class="form-control"><br>
        <input type="text" id="gender" placeholder="Gender" class="form-control"><br>
        <input type="text" id="hobbies" placeholder="Hobbies" class="form-control"><br>
        <input type="text" id="civilstate" placeholder="Civil State" class="form-control"><br>
        <input type="text" id="profession" placeholder="Profession" class="form-control"><br>
        <input type="text" id="salary" placeholder="Salary" class="form-control"><br>
        <input type="text" id="sport" placeholder="Sport" class="form-control"><br>
        <input type="text" id="image" placeholder="Image" class="form-control"><br>
        <br>
        <input type="text" id="useremail" placeholder="Email" class="form-control"><br>
        <input type="password" id="password" placeholder="Password" class="form-control"><br>

        <input type="button" id="login-submit" value="Log In" class="btn btn-primary">&nbsp;
        <a href="" id="reg">Sign up here </a>
        <a href="" id="log">Back to Login </a>
    </div>
</body>

</html>